figure {
  text-align: center;
}

.home h1 {
  color: brown;
}

.home h3 {
  color: black;
}

.secondpage table,
.secondpage th,
.secondpage td {
  border: 1px solid white;
  border-collapse: collapse;
}

.secondpage th,
.secondpage td {
  background-color: #F9CFC2;
}

.thirdpage table,
.thirdpage th,
.thirdpage td {
  border: 1px solid white;
  border-collapse: collapse;
}

.thirdpage th,
.thirdpage td {
  background-color: #9BDBE5;
}